<h3>Create a project</h3>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Project name</label>
    <input
      type="text"
      class="form-control"
      name="name"
      id="name"
      formControlName="name"
    />
    <span
      class="help-block"
      *ngIf="!form.controls.name.valid && form.controls.name.touched"
    >
      <p *ngIf="form.controls.name.errors?.required">
        Project name cannot be empty!
      </p>
    </span>
    <span
      class="help-block"
      *ngIf="!form.controls.name.valid && form.controls.name.touched"
    >
      <p *ngIf="form.controls.name.errors?.projectNameNotAllowed">
        Project name is forbidden!
      </p>
    </span>
  </div>
  <div class="form-group">
    <label for="email">Email</label>
    <input
      type="email"
      class="form-control"
      name="email"
      id="email"
      formControlName="email"
    />
    <span
      class="help-block danger"
      *ngIf="!form.controls.email.valid && form.controls.email.touched"
    >
      <p *ngIf="form.controls.email.errors?.required">Email cannot be empty!</p>
      <p *ngIf="form.controls.email.errors?.email">Email is invalid!</p>
    </span>
  </div>
  <div class="form-group">
    <label for="status">Status</label>
    <select
      class="form-control"
      name="status"
      id="status"
      formControlName="status"
    >
      <option [value]="status" *ngFor="let status of statuses">
        {{ status | titlecase }}
      </option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!form.valid">
    Submit
  </button>
</form>
